<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>已编译固件列表</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.15.14/lib/theme-chalk/index.min.css">
    <style>
        .form-select {
            width: 350px;
        }

        .form-control {
            width: 350px;
        }

        /* 隐藏文件选择按钮的文本 */
        input[type="file"] {
            color: transparent;
            background-color: transparent;
            border: none;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            cursor: pointer;
        }

        .container {
            margin: 0 auto;
            margin-bottom: 100px;
        }

        .file-container {
            height: 0px;
            width: 350px;
            overflow: auto;
        }

        .file-list {
            padding-left: 20px;
        }
        .remark{
            margin-top: 20px;
        }
        .up_but{
            display: flex;
            /*justify-content: center;*/
            margin: 20px 0px 0px 60px;
        }
        .up_but button{
            width: 200px;
        }
    </style>
</head>

<body>
<div id="app" class="container">
    <div>
        <h1>MicroPython已编译固件列表</h1>
    </div>

    <template>
        <a href="upload.html">
            <el-button type="success">编译新固件 + </el-button>
        </a>
        <a href="firmwareWaitCompiled.html">
            <el-button type="primary">待编译列表</el-button>
        </a>
    </template>


    <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="邮箱">
            <el-input v-model="formInline.email" placeholder="邮箱"></el-input>
        </el-form-item>
        <el-form-item label="设备类型">
            <el-select v-model="formInline.device_type" placeholder="设备类型">
                <el-option label="全部" value="all"></el-option>
                <el-option label="ESP8266" value="ESP8266"></el-option>
                <el-option label="ESP32" value="ESP32"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="闪存大小">
            <el-select v-model="formInline.flash_size" placeholder="闪存大小">
                <el-option label="全部" value="all"></el-option>
                <el-option label="2M" value="2M"></el-option>
                <el-option label="4M" value="4M"></el-option>
                <el-option label="8M" value="8M"></el-option>
                <el-option label="16M" value="16M"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="排序方式">
            <el-select v-model="formInline.sort" placeholder="排序方式">
                <el-option label="ID升序" value="+id"></el-option>
                <el-option label="ID降序" value="-id"></el-option>
                <!-- 你可以根据需要添加更多的选项 -->
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>


    <template>
        <el-table
                :data="tableData"
                border
                empty-text="暂无数据"
                style="width: 100%">
            <el-table-column
                    prop="id"
                    label="固件ID">
            </el-table-column>
            <el-table-column
                    prop="email"
                    label="邮箱"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="device_type"
                    label="设备类型"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="flash_size"
                    label="闪存大小"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="remark"
                    label="备注">
            </el-table-column>
            <el-table-column
                    prop="compilation_time_consuming"
                    label="编译耗时">
            </el-table-column>
            <el-table-column
                    prop="upload_time"
                    label="上传时间"
                    width="180">
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            type="primary"
                            class="el-icon-download"
                            @click="handleDownloadSourceFile(scope.$index, scope.row)">下载源代码文件</el-button>
                    <el-button
                            size="mini"
                            type="success"
                            class="el-icon-download"
                            @click="handleDownloadBin(scope.$index, scope.row)">下载bin文件</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                layout="total, sizes, prev, pager, next, jumper"
                :page-sizes="[5, 10, 20, 50, 100]"
                :page-size="5"
                :total="total">
        </el-pagination>

        <el-dialog title="请输入提取密码" :visible.sync="isDialogVisible">
            <el-input v-model="passwordInput" placeholder="请输入提取密码"></el-input>
            <span slot="footer" class="dialog-footer">
            <el-button @click="isDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="handlePasswordConfirm">确 定</el-button>
        </span>
        </el-dialog>
    </template>

</div>

<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.2/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/element-ui@2.15.14/lib/index.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            formInline: {
                email: '',
                device_type: 'all',
                flash_size: 'all',
                sort: '-id',
            },
            tableData: [],
            isDialogVisible: false, // 是否显示密码输入框
            passwordInput: '',    // 密码输入框的值
            downloadType: 0,    // 下载类型
            firmwareId: null,   // 要下载的固件的ID

            total: 0,
            pageSize: 5,
            currentPage: 1,

        },
        mounted() {
            this.onSubmit();  // 页面加载时发送请求
        },
        methods: {
            // 每页显示条数改变时触发
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.pageSize = val;
                this.onSubmit();  // 当每页的记录数改变时，重新发送请求
            },
            // 当前页改变时触发
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.currentPage = val;
                this.onSubmit();  // 当前页码改变时，重新发送请求
            },
            // 下载源文件
            handleDownloadSourceFile(index, row) {
                console.log(index, row);
                this.firmwareId = row.id;
                this.downloadType = 0;
                this.passwordInput = '';

                if (row.retrieve_password){
                    this.isDialogVisible = true;
                }else{
                    this.isDialogVisible = false;
                    this.download()  // 下载
                }
            },
            // 下载bin文件
            handleDownloadBin(index, row) {
                console.log(index, row);
                this.firmwareId = row.id;
                this.downloadType = 1;
                this.passwordInput = '';

                if (row.retrieve_password){
                    this.isDialogVisible = true;
                }else{
                    this.isDialogVisible = false;
                    this.download()  // 下载
                }
            },
            // 确认密码
            handlePasswordConfirm() {
                this.isDialogVisible = false;
                this.download(this.passwordInput)   // 下载
            },
            // 下载
            download(retrieve_password=null){
                let params = {
                    firmware_id: this.firmwareId,  // 固件ID
                    file_type: this.downloadType,  // 文件类型
                };
                if (retrieve_password) {
                    params.retrieve_password = retrieve_password;
                };

                axios({
                    url: '/api/download',
                    method: 'GET',
                    responseType: 'arraybuffer',  // 设置响应类型为blob
                    params: params
                })
                    .then(response => {
                        // 尝试将响应解析为JSON
                        try {
                            const json = JSON.parse(new TextDecoder("utf-8").decode(new Uint8Array(response.data)));
                            if (json.code && json.message) {
                                // 错误消息
                                this.$message.error(`Error: ${json.message}`);
                            }
                        } catch(e) {
                            // 如果解析失败，但响应状态码表示成功，那么就处理文件下载
                            if (response.status >= 200 && response.status < 300) {
                                const contentDisposition = response.headers['content-disposition'];
                                if (contentDisposition) {
                                    const fileNameMatch = contentDisposition.match(/filename="(.+)"/);
                                    if (fileNameMatch && fileNameMatch.length === 2) {
                                        const fileName = fileNameMatch[1];
                                        const blob = new Blob([response.data]);
                                        const url = window.URL.createObjectURL(blob);
                                        const link = document.createElement('a');
                                        link.href = url;
                                        link.setAttribute('download', fileName);  // 使用从响应头中获取的文件名
                                        document.body.appendChild(link);
                                        link.click();
                                    } else {
                                        // 错误消息
                                        // this.$message.error(`Error: 无法检索文件名`);
                                    }
                                } else {
                                    // 错误消息
                                    // this.$message.error(`Error: 无法检索文件名`);
                                }
                            }
                        }
                    })
                    .catch(error => {
                        this.$message({
                            message: `下载文件错误: ${error}`,
                            type: 'error'
                        });
                    });
            },
            // 查询
            onSubmit() {
                console.log('submit!', this.formInline);
                let params = {
                    page: this.currentPage,
                    limit: this.pageSize,
                    id: null, // 这里可以根据你的需求更改
                    email: this.formInline.email,
                    flash_size: this.formInline.flash_size,
                    device_type: this.formInline.device_type,
                    sort: this.formInline.sort,
                };
                axios.get('/api/get_firmware_list', {params: params})
                .then(response => {
                    console.log(response.data);
                    this.tableData = response.data.data.items;  // 更新tableData
                    this.total = response.data.data.total;  // 更新总记录数
                })
                .catch(error => {
                    // console.error(error);
                    this.$message({
                        message: `获取列表错误: ${error}`,
                        type: 'error'
                    });
                });
            },
        }
    });
</script>
</body>

</html>
