<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>待编译列表</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.15.14/lib/theme-chalk/index.min.css">
    <style>
        .form-select {
            width: 350px;
        }

        .form-control {
            width: 350px;
        }

        /* 隐藏文件选择按钮的文本 */
        input[type="file"] {
            color: transparent;
            background-color: transparent;
            border: none;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            cursor: pointer;
        }

        .container {
            margin: 0 auto;
            margin-bottom: 100px;
        }

        .file-container {
            height: 0px;
            width: 350px;
            overflow: auto;
        }

        .file-list {
            padding-left: 20px;
        }
        .remark{
            margin-top: 20px;
        }
        .up_but{
            display: flex;
            /*justify-content: center;*/
            margin: 20px 0px 0px 60px;
        }
        .up_but button{
            width: 200px;
        }
    </style>
</head>

<body>
<div id="app" class="container">
    <div>
        <h1>MicroPython待编译列表列表</h1>
    </div>

    <template>
        <a href="upload.html">
            <el-button type="success">编译新固件 + </el-button>
        </a>
        <a href="firmware.html">
            <el-button type="primary">已编译固件列表</el-button>
        </a>
    </template>


    <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="邮箱">
            <el-input v-model="formInline.email" placeholder="邮箱"></el-input>
        </el-form-item>
        <el-form-item label="设备类型">
            <el-select v-model="formInline.device_type" placeholder="设备类型">
                <el-option label="全部" value="all"></el-option>
                <el-option label="ESP8266" value="ESP8266"></el-option>
                <el-option label="ESP32_S2" value="ESP32 S2"></el-option>
                <el-option label="ESP32_S3" value="ESP32 S3"></el-option>
                <el-option label="ESP32_C3" value="ESP32 C3"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="闪存大小">
            <el-select v-model="formInline.flash_size" placeholder="闪存大小">
                <el-option label="全部" value="all"></el-option>
                <el-option label="2M" value="2M"></el-option>
                <el-option label="4M" value="4M"></el-option>
                <el-option label="8M" value="8M"></el-option>
                <el-option label="16M" value="16M"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="排序方式">
            <el-select v-model="formInline.sort" placeholder="排序方式">
                <el-option label="ID升序" value="+id"></el-option>
                <el-option label="ID降序" value="-id"></el-option>
                <!-- 你可以根据需要添加更多的选项 -->
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>


    <template>
        <el-table
                :data="tableData"
                border
                empty-text="暂无数据"
                style="width: 100%">
            <el-table-column
                    prop="id"
                    label="任务ID">
            </el-table-column>
            <el-table-column
                    prop="email"
                    label="邮箱">
            </el-table-column>
            <el-table-column
                    prop="device_type"
                    label="设备类型">
            </el-table-column>
            <el-table-column
                    prop="flash_size"
                    label="闪存大小">
            </el-table-column>
            <el-table-column
                    prop="remark"
                    label="备注">
            </el-table-column>
            <el-table-column label="编译状态">
                {% raw %}
                <template v-slot="{ row }">
                    <el-tag :type="getTagType(row.status)">{{ getTagText(row.status) }}</el-tag>
                </template>
                {% endraw %}
            </el-table-column>
            <el-table-column
                    prop="update_time"
                    label="状态变更时间">
            </el-table-column>
            <el-table-column
                    prop="create_time"
                    label="上传时间">
            </el-table-column>
        </el-table>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                layout="total, sizes, prev, pager, next, jumper"
                :page-sizes="[5, 10, 20, 50, 100]"
                :page-size="5"
                :total="total">
        </el-pagination>

    </template>

</div>

<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.2/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/element-ui@2.15.14/lib/index.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            formInline: {
                email: '',
                device_type: 'all',
                flash_size: 'all',
                sort: '-id',
            },
            tableData: [],
            isDialogVisible: false, // 是否显示密码输入框
            passwordInput: '',    // 密码输入框的值

            total: 0,
            pageSize: 5,
            currentPage: 1,

        },
        mounted() {
            this.onSubmit();  // 页面加载时发送请求
        },
        methods: {
            getTagType(status) {
                switch (status) {
                    case 0:
                        return 'success';
                    case 1:
                        return 'danger';
                    case 2:
                        return 'warning';
                    case 3:
                        return 'info';
                    default:
                        return 'info';
                }
            },
            getTagText(status) {
                switch (status) {
                    case 0:
                        return '编译成功';
                    case 1:
                        return '编译失败';
                    case 2:
                        return '编译中';
                    case 3:
                        return '等待编译';
                    default:
                        return '未知状态';
                }
            },
            // 每页显示条数改变时触发
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.pageSize = val;
                this.onSubmit();  // 当每页的记录数改变时，重新发送请求
            },
            // 当前页改变时触发
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.currentPage = val;
                this.onSubmit();  // 当前页码改变时，重新发送请求
            },
            // 查询
            onSubmit() {
                console.log('submit!', this.formInline);
                let params = {
                    page: this.currentPage,
                    limit: this.pageSize,
                    id: null, // 这里可以根据你的需求更改
                    email: this.formInline.email,
                    flash_size: this.formInline.flash_size,
                    device_type: this.formInline.device_type,
                    sort: this.formInline.sort,
                };
                axios.get('/api/get_firmware_wait_compiled_list', {params: params})
                .then(response => {
                    console.log(response.data);
                    this.tableData = response.data.data.items;  // 更新tableData
                    this.total = response.data.data.total;  // 更新总记录数
                })
                .catch(error => {
                    // console.error(error);
                    this.$message({
                        message: `获取列表错误: ${error}`,
                        type: 'error'
                    });
                });
            },
        }
    });
</script>
</body>

</html>
